.horizontal {
    margin: 15px;
    margin-bottom: 50px;
    align-items: center;
    color: rgb(255, 255, 255);

    

}

.horizontal:hover {
    transform: scale(1);
    box-shadow: 0 0 15px #40ff10; 
    
}